{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver Artículos</title>
</head>
<body>
    <h1>Artículos</h1>
    <ul>
        {% for articulo in articulos %}
            <li>
                <h2>{{ articulo.titulo }}</h2>
                <p>Autor: {{ articulo.autor }}</p>
                <p>Fecha de publicación: {{ articulo.fecha_publicacion }}</p>
                <p>Categoría: {{ articulo.categoria }}</p>
                <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}" width="60px">
                <p>{{ articulo.contenido }}</p>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
